JSONReader freezes with no response after a specific character combination in input

#### Description
When giving input to the JSONReader the default quotation mark (") is replaced with Apple's quotation mark (”) (used for example in apple notes) in the last entry when closing the quotation, the Reader completely freezes without throwing any error. 

#### Files
I wasn't able to upload a java file, so just change the file extension to .java
[TestJSON.txt](https://github.com/user-attachments/files/20709317/TestJSON.txt)

#### To reproduce
To reproduce this bug run the main method from uploaded file and write {"a":"1”} as JSONReader input from terminal.
As far as I noticed the bug only happens, when the last quotation mark from the whole json input is switched. When any other quotation mark is switched there is a proper exception thrown.

I think what is happening is that the `"` before the `1` starts reading a string which never then terminates. Normally this would result in an `EOFException`, but when reading from standard input, the parser was accepting the newline character as part of the string, and so ended up waiting forever for more input. This behaviour was incorrect per RFC 8259 section 7. I've added (and changed) a couple of tests, and repaired string handling. Thank you for the report!